.body {
  background-color: #56b0de;
  color: white;
  font-family: "Sintony", sans-serif;
  text-align: center;
}

.button {
  padding: 12px;
}

.custom-select {
  position: relative;
  font-family: "Sintony", sans-serif;
  color: #56b0de;
}

html {
  scroll-behavior: smooth;
}

.headline {
  font-family: "Sacramento", cursive;
  font-size: 64px;
  text-align: left;
}

.inputtext {
  color: #06344c;
}

.question {
  font-size: 24px;
}

#section1 {
  height: 200px;
}

#section2 {
  height: 200px;
}

#section3 {
  height: 200px;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
